body{
    display: flex;
    aling-item:center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}
